toolbox {
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
}

#titlebar {
	background: #434c5e;
	color: #eceff4;
}

.tab-line[multiselected], .tab-line[selected="true"] { {
	background-color: #5e81ac !important;
}

:root {
	--toolbarbutton-border-radius: 0 !important;
	--toolbar-bgcolor: #2e3440 !important;
	--toolbar-color: #eceff4 !important;
}

.browser-toolbar:not(.titlebar-color) {
	background: #2e3440;
	color: #eceff4;
}